<form [formGroup]="addForm" (ngSubmit)="addRoom()">
  <!-- Name -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Nom de la room</span>
    </div>
    <input type="text" id="name" class="form-control" formControlName="name">
  </div>

  <!-- Bouton d'ajout -->
  <button class="btn btn-success" [disabled]="addForm.invalid" type="submit">Ajouter</button>
</form>

