<div>
  <h2>Liste les messages de la room</h2>
  <ul *ngFor="let message of room.messages">
    <li>{{ message.message }}</li>
  </ul>
  <app-add-message [room_id]="room.room.id"></app-add-message>
</div>
