<div>
  <h3>Création de room</h3>
  <button routerLink="/room/new">Add</button>
  <h3>Liste des Rooms baby</h3>
  <ul class="list-group" *ngFor="let room of rooms; index as i">
    <li routerLinkActive="active">
      <a routerLink="/room/{{ room.id }}">{{ room.name }}</a>
    </li>
  </ul>
</div>
