<form [formGroup]="addMessageForm" (ngSubmit)="addMessage()">
  <!-- Name -->
  <div class="input-group mb-3">
    <input type="text" id="content" class="form-control" placeholder="Votre message ici" formControlName="content">
  </div>
  <!-- Bouton d'ajout -->
  <button class="btn btn-success" [disabled]="addMessageForm.invalid" type="submit">Envoyer</button>
</form>
