<form [formGroup]="postFormRegister" (ngSubmit)="register()">
  <!-- Login -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Pseudo</span>
    </div>
    <input type="text" id="pseudo" class="form-control" formControlName="pseudo">
  </div>

  <!-- Mot de passe -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Mot de passe</span>
    </div>
    <input type="text" id="password" class="form-control" formControlName="password">
  </div>

  <!-- Bouton de connexion -->
  <button class="btn btn-success" [disabled]="postFormRegister.invalid" type="submit">Connexion</button>
</form>
